button {
    background-color: unset;
    border: unset;
}

body {
    margin: 0;
    padding: 0;
    color: #29374E;
    font-family: 'SANS-SERIF';
    font-size: 16px;
    font-style: normal;
    line-height: 130%;
}

.container {
    padding-right: 16px;
    padding-left: 16px;
}

img {
    max-width: 100%;
}

.header {
    background-color: #CBECFF;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-bottom: 40px;
}

.header_top {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 10px;
}

.header_top button {
    min-width: 26px;
    height: 24px;
    border-radius: 12px;
    padding: 2px 4px;
    color: #29374E;
}

.header_top button.active {
    background-color: #FFFFFF;
    color: #0962E8;
}

.header_center {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.header_left {
    margin-top: -25px;
}

.header_left_brand {
    width: 157px;
    height: 59px;
}

.header_left > div {
    max-width: 384px;
    margin: auto;
}

.header_left_text {
    margin: 10px 0px 10px 0px;
}

.btn_demo {
    width: 345px;
    height: 50px;
    border-radius: 12px;
    background: #0962E8;
    color: #FFFFFF;
    border: none;
    font-family: 'SANS-SERIF';
}

.btn_demo_txt {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.header_right {
    display: grid;
    grid-template-columns: 1fr;
}

.header_right > span {
    display: none;
}

.header_right > img {
    margin: auto;
}

.header_bottom {
    display: flex;
    justify-content: space-around;
}

.header_section_bottom_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    gap: 15px;
}

.header_bottom_section {
    display: grid;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
    gap: 10px;
    padding: 0px 10px 10px 10px;
}

.icon {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background-color: #EFF9FF;
    margin-left: 10px;
    margin-top: -5px;
}

.icon > img,
.icon > i {
    margin: auto;
   color: #0962E8;
}

.header_bottom_text {
    padding-top: 5px;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
}

.main-text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.72px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.main-text > span {
    color: #0962E8;
}

.main_platforms {
    display: grid;
    grid-template-columns: 1fr;
}

.main_platform_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #E9F6FF;
    border-radius: 30px;
    margin-top: 20px;
}

.main_platform_section_left {
    padding-top: 25px;
    padding-left: 15px;
}

.main_platform_section_left > .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 5px;
}

.main_platform_section_left > .desc {
    font-size: 13px;
    font-weight: 400;
    line-height: 140%;
}

.main_benefits {
    margin-bottom: 150px;
}

.main_benefits_text {
    margin-top: 40px;
}

.main_benefits_text > .title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.72px;
}

.main_benefits_text > .title > span {
    color: #0962E8;
}

.main_benefits_text > .desc {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 10px;
}

.main_benefits_list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    font-size: 14px;
}

.main_benefits_list > div {
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.main_benefits_list_left {
    margin-right: 5px;
    margin-bottom: 10px;
}

.main_benefits_list_right {
    margin-left: 5px;
    margin-bottom: 10px;
}

.main_benefits_section > div {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.main_benefits_section > svg {
    padding-left: 25px;
}