@media screen and (min-width: 1024px) {
  .btn_demo {
    width: 199px;
    height: 52px;
  }

  .container {
    padding-right: 60px;
    padding-left: 60px;
  }

  .header {
    padding-top: 60px;
  }

  .header_center {
    flex-direction: unset;
  }

  .header_left {
    flex-grow: 1;
    flex-basis: 0;
  }

  .header_right {
    flex-grow: 1;
    flex-basis: 0;
  }

  .header_bottom {
    justify-content: space-around;
    height: 0px;
  }

  .header_section_bottom_list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: -50px;
  }

  .header_bottom_section {
    max-width: 241px;
    width: 170px;
    border-radius: 20px;
    box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
  }

  .main {
    padding-top: 100px;
  }

  .main_platforms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
  }

  .main_platform_autoinv {
    margin-right: 10px;
  }

  .main_platform_robo {
    margin-left: 10px;
  }

  .main_benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main_benefits_text {
    margin-top: unset;
  }

  .main_benefits_text > .title,   .main_benefits_text > .desc {
    text-align: unset;
    margin-bottom: 20px;
    width: 405px;
  }

  .main_benefits_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}